@font-face {
    font-family: 'dgm';
    src: url('/css/DungGeunMo.ttf') format('truetype');
}

/* ■■■■■■■■■■■■■■■■■■■ 상민 ■■■■■■■■■■■■■■■■■■■■ */

body {
    margin: 0;
}

.d-none {
    display: none;
}

button:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

.S1-next{
    display: none;
    position: absolute;
    margin-left: 990px;
    margin-top: 133px;
    background-color: #F2D800;
    height: 38px;
    font-family: "dgm";
    font-size: 23px;
    text-align: center;
}
.menuBtn0{
    display: none;
    position: absolute;
    margin-left: 85px;
    margin-top: 275px;
    background-color: rgb(207, 207, 207);
    height: 38px;
    font-family: "dgm";
    font-size: 23px;
    text-align: center;
}
.menuBtn1{
    display: none;
    position: absolute;
    margin-left: 85px;
    margin-top: 340px;
    background-color: rgb(207, 207, 207);
    height: 38px;
    font-family: "dgm";
    font-size: 23px;
    text-align: center;
}
.menuBtn2{
    display: none;
    margin-left: 85px;
    margin-top: 405px;
    position: absolute;
    background-color: rgb(207, 207, 207);
    height: 38px;
    font-family: "dgm";
    font-size: 23px;
    text-align: center;
}
.menuBtn3{
    display: none;
    margin-left: 85px;
    margin-top: 470px;
    position: absolute;
    background-color: rgb(207, 207, 207);
    height: 38px;
    font-family: "dgm";
    font-size: 23px;
    text-align: center;
}
.menuBtn4{
    display: none;
    margin-left: 85px;
    margin-top: 535px;
    position: absolute;
    background-color: rgb(207, 207, 207);
    height: 38px;
    font-family: "dgm";
    font-size: 23px;
    text-align: center;
}
.menuBtn5{
    display: none;
    margin-left: 85px;
    margin-top: 600px;
    position: absolute;
    background-color: rgb(207, 207, 207);
    height: 38px;
    font-family: "dgm";
    font-size: 23px;
    text-align: center;
}
.menuBtn6{
    display: none;
    margin-left: 85px;
    margin-top: 665px;
    position: absolute;
    background-color: rgb(207, 207, 207);
    height: 38px;
    font-family: "dgm";
    font-size: 23px;
    text-align: center;
}
/* Scene_9 : 평가 */
.S9-input{
    position:absolute;
    margin-top: 580px;
    margin-left: 430px;
    text-align: center;
    font-size: x-large;
    width: 500px;
    height: 50px;
    border-color: black;
    font-family: 'dgm';
    font-size: 40px;
}

.S9-input::placeholder{
    font-size: 30px;
    color: #bbbbbb;
}

.S9-submit{
    position: absolute;
    font-family: 'dgm';
    background-color: #F2D800;
    font-size: 25px;
    margin-top: 580px;
    margin-left: 965px;
    width: 80px;
    height: 55px;
}

.S9-submit:hover{
    cursor: pointer;
    filter: brightness(0.8);
}


/* ■■■■■■■■■■■■■■■■■■■ 세영 ■■■■■■■■■■■■■■■■■■■ */
#startbtn1{
    position: absolute;
    left: 372px;
    top: 610px;
}

#startbtn2{
    position: absolute;
    left: 372px;
    top: 610px;
}

#rulebtn{
    position: absolute;
    left: 778px;
    top: 580px;
}

/* ■■■■■■■■■■■■■■■■■■■ 현채 ■■■■■■■■■■■■■■■■■■■ */

input[type=checkbox] {
    transform: scale(2);
    /* 체크박스 크기 변경 */
  }
  
  li {
    font-size: 50px;
    margin-bottom: 10px;
    color:antiquewhite;
  }
  
  button{
    font-family: 'dgm', sans-serif;
    font-size: 30px;
    margin-left: 800px;
    width: 100px;
    height: 60px;
  }
  
  body {
    font-family: 'dgm', sans-serif;
    margin: 0;
    background-image: url('../2kioskimage/whitebg.jpg');
    background-size: 1150px 820px;
    background-repeat: no-repeat;
    position: relative;
    width: 1150px;
    height: 820px;
  }
  
  #ingredient-list {
    position: absolute;
    top: 100px;
    left: 1px;
    list-style-type: none;
    float: left; 
    margin-left: 0px;
    /* 적절한 간격 */
    font-family: 'dgm', sans-serif;
    font-size: 100px;
  }
  
  #start-btn {
    position: absolute;
    border-radius: 20px;
    bottom: 150px;
    right: 50px;
    /* padding: 40px 70px; */
    font-size: 50px;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(240, 192, 49);
    width: 150px;
    height: 100px;
  }
  
  #start-btn:hover{
    border-color: rgb(237, 217, 164);
    box-shadow: 0 0 29px 10px rgb(237, 217, 164);
    background-color: rgb(205, 105, 105);
  }
  
  #start-btn:active{
    transform: translateY(5px);
  }
  
  #next-btn {
    position: absolute;
    border-radius: 20px;
    bottom: 150px;
    right: 50px;
    /* padding: 40px 70px; */
    font-size: 50px;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(240, 192, 49);
    width: 150px;
    height: 100px;
  }
  
  #next-btn:hover{
    border-color: rgb(237, 217, 164);
    box-shadow: 0 0 29px 10px rgb(237, 217, 164);
    background-color: rgb(205, 105, 105);
  }
  
  #next-btn:active{
    transform: translateY(5px);
  }
  
  #submit-btn {
    position: absolute;
    border-radius: 20px;
    bottom: 150px;
    right: 50px;
    /* padding: 40px 70px; */
    font-size: 50px;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(240, 192, 49);
    width: 150px;
    height: 100px;
  }
  
  #submit-btn:hover{
    border-color: rgb(237, 217, 164);
    box-shadow: 0 0 29px 10px rgb(237, 217, 164);
    background-color: rgb(205, 105, 105);
  }
  
  #submit-btn:active{
    transform: translateY(5px);
  }
  
  #last-btn {
    position: absolute;
    border-radius: 20px;
    bottom: 150px;
    right: 50px;
    /* padding: 40px 70px; */
    font-size: 50px;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(240, 192, 49);
    width: 150px;
    height: 100px;
  }
  
  #last-btn:hover{
    border-color: rgb(237, 217, 164);
    box-shadow: 0 0 29px 10px rgb(237, 217, 164);
    background-color: rgb(205, 105, 105);
  }
  
  #last-btn:active{
    transform: translateY(5px);
  }