        /* 스핀버튼 */
        #strBtn {
            position: absolute;
            border-radius: 30px;
            top: 610px;
            left: 366px;
            padding: 3px 30px;
            font-family: 'Galmuri7 Regular';
            font-size: 100px;
            color: rgb(255 242 204);
            background-color: rgb(27 20 100);
            border: 12px solid rgb(41 171 226);
            }
    
            /* 누름효과 */
            #strBtn:active{
            -webkit-transform: translateY((4px));
            transform: translateY(4px);
            }
            
            /*호버 */
            #strBtn:hover {
            border-color: #0FF;
            box-shadow: 0 0 70px 40px #57b7e4;
            }
    

